{% set _turnstile_ns = namespace(script_loaded=False) %}
{% macro widget(action) -%}
  {% if turnstile_widget_enabled(action) %}
    <div class="turnstile-widget">
      <div class="cf-turnstile" data-sitekey="{{ turnstile_site_key }}" data-action="{{ action }}"></div>
    </div>
    {% if not _turnstile_ns.script_loaded %}
      {% set _turnstile_ns.script_loaded = True %}
      <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    {% endif %}
  {% endif %}
{%- endmacro %}
